

<p>
  <strong>User:</strong>
  <%= @comment.user.fullname %>
</p>

<p>
  <strong>Project:</strong>
  <%= @comment.project.brief %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
