<% provide(:title, "Supported Projects") %>

<% if @projects.size != 0 %>
<h1 class="page-title">PROJECTS YOU ARE ALREADY SUPPORTING</h1>
  <div class='project-grid-container'>
    <div class='project-grid'>
      <% @projects.each do |project|%>
        <%= render 'projects/preview', project: project %>
      <% end%>
    </div>
  </div>
<% else %>
  <h1 class="page-title"><%= @user.fullname %> hasn't funded any projects yet</h1>
<% end %>
