<% provide(:title, 'Users') %>

<h1 class ="user-title">Users Index</h1>

<div class='photo-grid-container'>
  <div class='photo-grid'>
    <% @users.each do |user|%>
      <div class='photo-grid-item'>
        <%= link_to user.fullname, user %>
      </div>
    <% end%>
  </div>
</div>
