<p id="notice"><%= notice %></p>
<% provide(:title, 'Users') %>

<h1 class ="page-title">GET IN TOUCH WITH OUR <%= @users.count%> USERS COMMUNITY</h1>

<div class='user-grid-container'>
  <div class='user-grid'>
    <% @users.each do |user|%>
      <%= render 'users/preview', user: user %>
    <% end %>
  </div>
</div>
