


<% if @projects.size != 0 %>
<h1 class="page-title">THIS ARE YOUR PROJECTS</h1>
<% else %>
  <h1 class="page-title"><%= ("You haven't created any projects yet").upcase %> </h1>
<% end %>
<div class="button"><%= link_to "Start a Project!",new_project_path %></div>
<% if @projects.size > 0 %>
    <div class='project-grid-container'>
      <div class='project-grid'>
        <% @projects.each do |project|%>
          <%= render 'projects/preview', project: project %>
        <% end%>
      </div>
    </div>
<% end %>
