<% provide(:title, @title.capitalize) %>
  <%= image_tag @user.avatar.url(:medium), class: "img-circle"%>
  <h1 class="page-title"><%= link_to @user.fullname, @user%></h1>
  <h2> <%=@title%> </h2>

<div class='user-grid-container'>
  <div class='user-grid'>
    <% @users.each do |user|%>
      <%= render 'users/preview', user: user %>
    <% end %>
  </div>
</div>
