<p>IIC2513 - Tecnologías y Aplicaciones Web | DreamFunder &copy; | Created by Juan Pablo Jofré &amp; Vicente Fuenzalida</p>
<p><%= mail_to "vjfuenzalida@uc.cl", "Contact Us" %> | <%= link_to "GitHub", "https://github.com/IIC2513-2017-1/grupo-12"%></p>
