<% @user ||= current_user %>
<ul>
  <li class="user-following">
    <a href="<%= following_user_path(@user) %>">
      <strong><%= @user.following.count %></strong>
      following
    </a>
  </li>
  <li class="user-followers">
    <a href="<%= followers_user_path(@user) %>">
      <strong><%= @user.followers.count %></strong>
      followers
    </a>
  </li>
</ul>
