<h1 class="title">Project Settings</h1>
<div>
  <%= render 'form_edit', project: @project %>
</div>
<div>
  <%= link_to 'Show', @project %> |
</div>
<div>
  <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div>
  <%= link_to 'Back', projects_path %>
</div>
