<p id="notice"><%= notice %></p>
  <h1 class="page-title">EXPLORE <%=@projects.count%> PROJECTS!</h1>
<div class='project-grid-container'>
  <div class='project-grid'>
    <% @projects.each do |project|%>
      <%= render 'projects/preview', project: project %>
    <% end%>
  </div>
</div>
