$licorice: #131515;
$charleston-grey: #2b2c28;
$baby-powder: #fcfcfc;
$chalk: #88d8b0;
$skin: #c7f6ec;
$dark-red: #aa3631;
$red: #ff6f69;
$light-red: #d44d30;
$mustard: #ffcc5c;
$chalk-light: #96ceb4;
$dark-gray: rgb(51, 51, 51);
$gray: #555555;
$grey: #444;
$light-gray: rgb(136, 136, 136);
$gray-white: rgb(204, 204, 204);
$deep-blue: #1e496b;
$dark-blue: #3270a2;
$twitter: rgb(25, 154, 220);
$light-green: rgb(43,194,83);
$green: rgb(84,240,84);
$success-green: #63a232;
$dark-green: rgb(44, 120, 47);
$deep-green: rgb(27, 83, 29);
