@import 'colors';

nav.navbar-container {
  background-color: $charleston-grey;
  display: flex;
  justify-content: space-between;
  ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;

    height: 100%;

    li {
      color: white;
      text-decoration: none;
      font-size: 15px;
      height: 100%;
      text-align: center;
      //display: inline-block;
      float: left;
    }

    li a{
        color: white;
        padding-right: 8px;
        padding-left: 10px;
        text-decoration: none;
        display: block;
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        line-height: 50px;
    }

    li:hover:not(.active) {
      background-color: $licorice;
    }

    li.active {
      background-color: $mustard;
      a {
        color: $charleston-grey;
      }
    }
  }
  ul.navbar-right {
    float: right;

    li.nav-right-img{
      a{
        padding-right: 16px;
        padding-left: 16px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        img {
          vertical-align: middle;
          height: 40px;
        }
        .navbar-user {
          margin-left: 5px;
        }
      }
    }
  }
  #brand a{
    font-family: 'Lobster', cursive;
    font-size: 26px;
  }
}
