@import 'colors';

nav.navbar-container {
  background-color: $charleston-grey  ;  
  ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    display: inline-block;
    vertical-align: middle;

    height: 100%;

    li {
      color: white;
      text-decoration: none;
      font-size: 16px;
      height: 100%;
      text-align: center;
      //display: inline-block;
      float: left;
    }

    li a{
        color: white;
        padding-right: 16px;
        padding-left: 16px;
        text-decoration: none;
        display: block;
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        line-height: 50px;
    }

    li:hover:not(.active) {
      background-color: $licorice;
    }

    li.active {
      background-color: $mustard;
      a {
        color: $charleston-grey;
      }
    }
  }
  ul.navbar-right {
    float: right;

    li.nav-right-img{
      float: left;
      display: inline-block;
      a{
        padding-right: 16px;
        padding-left: 16px;
        line-height: 50px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  #brand a{
    font-family: 'Lobster', cursive;
    font-size: 26px;
  }
}
