@import 'colors';

.meter-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 20px;
}

.meter-percentage{
	flex: 0 1 15%;
	margin: 0;
	font-size: 15px;
	color: $deep-blue;
	display: inline;

}

.meter {
	height: 80%;  /* Can be anything */
	padding: 10px 0px;
	margin-left: 8px;
	flex: 0 8 85%;
	padding-top: 0;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0px;
	-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
	box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}


.meter > span {
	display: block;
	height: 100%;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: $light-green;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, $light-green),
		color-stop(1, $green)
	 );
	background-image: -moz-linear-gradient(
		center bottom,
		$light-green 37%,
		$green 69%
	 );
	-webkit-box-shadow:
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}


.nostripes > span > span, .nostripes > span:after {
	-webkit-animation: none;
	background-image: none;
}
