@import 'colors';

.project-grid-container {
  display: flex;
  justify-content: center;
	text-decoration: none;
}

.project-grid {
  width: 100%;
  display: flex;
	flex-wrap: wrap;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

}

.project-grid-item {
	background-color: $chalk;

  padding: 5px;
  width: 350px;
  height: 200px;
  margin: 20px;
  //line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  //box-shadow: rgb(230, 230, 230) 3px 3px 3px 0px;

	a {
	  width: 100px;
		text-decoration: none;
		color: $deep-blue;
	}

  h5.project-title {
    margin: 10px 10px;
    font-size: 20px;
    text-align: left;
  }

  p.project-author{
    color: $dark-blue;
    text-align: left;
    padding: 4px 8px;
    margin: 0;
    font-size: 14px;
    a{
      color: $dark-blue;
    }
  }
  p.project-desc {
    color: $dark-gray;
    font-size: 13px;
    padding: 8px;
    margin: 0;
    text-align: justify;
  }
}
.button {
  border-radius: 4px;
  background-color: $dark-blue;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $baby-powder;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}


h3.project-desc{
  margin: 0px 8em;
  text-align: center;
}

.project-img {
}


// SHOW VIEW


.project-frame{
  margin: 20px;

  border-radius: 2%;
  padding: 30px 0px;
}

.title-container{
  width: 100%;
  display: flex;
}

.title-owner{
  flex: 0 1 20%;
  height: 50px;
  padding: 0;
  padding-top: 5px;
  display:block;
  margin-top: 20px ;
  margin-left: 50px ;
  margin-right: 20px ;
  div.user{
    padding-top: 3px;
  }
  div.user > span, div.user span>a {
      text-decoration: none;
      font-size: 15px;
      color: $deep-blue;
      font-weight: bold;
      text-family: 'Sarala', sans-serif;
  }
}

div.title-owner > img {
  height: 50px;
  width: 50px;
}
.title-owner > p{
  float:left;
}

.title-header{
  flex: 0 1 70%;
  margin-right: 60px;
  h1 {
    text-align: left;
    margin: 10px 0px;
    padding-top: 10px ;
    font-size: 45px;
    color: $deep-blue;
  }
  h3 {
    font-size: 15px;
    color: $charleston-grey;
    margin: 0;
    text-align: justify;
  }
}

.project-main {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  height: 400px;
  vertical-align: middle;
  width: 100%;
}

.project-item {
  margin: 0 10px;
  padding: 10px 15px;
}

.project-image{
  flex: 0 3 55%;
  overflow: hidden;
  padding: 10px 30px;

}

.project-data{
  flex: 0 2 45%;
  display: flex;
  flex-direction: row;
  > * {
    list-style: none;
    font-family: 'Open Sans';
  }
}

.project-details{
  width: 100%;
}

.project-buttons{
  width: 100%;
  text-align: right;
  padding: 0 30px;
}

.project-attr{
  list-style: none;
  font-size: 22px;
  color: #63a232;
  font-weight: bold;
}

.project-attr-desc{
  margin-bottom: 20px;
  font-size: 16px;
}

div.btn {
	  border-radius: 4px;
    border: none;
    text-align: center;
    display: block;
    font-size: 20px;
    width: 200px;
    padding: 0px;
    margin-bottom: 40px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $baby-powder;
      line-height: 40px;
      width:100%;
      display: block;
    }
}

.btn[value="Unfollow"]{
  background-color: #d44d30;
  color: $baby-powder;
}
.btn[value="Follow"]{
  background-color: #679d38;
}

.btn[value="Save"]{
  background-color: $dark-blue;
}

.btn[value="Edit"]{
  background-color: $mustard;
  a{
  color: $charleston-grey;
  }
}

.btn[value="Comment"]{
  background-color: #1bbba3;
}
