@import 'colors';


// preview

.project-grid-container {
  display: flex;
  justify-content: center;
	text-decoration: none;
}

.project-grid {
  width: 100%;
  display: flex;
	flex-wrap: wrap;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

}

.project-grid-item {
	background-color: $project-background;
  padding: 5px;
  width: 370px;
  height: 200px;
  margin: 20px;
  //line-height: 150px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  //box-shadow: rgb(230, 230, 230) 3px 3px 3px 0px;

	a {
	  width: 100px;
		text-decoration: none;
		color: $deep-blue;
	}

  h5.project-title {
    margin: 10px 10px;
    font-size: 18px;
    text-align: left;
  }

  p.project-author{
    text-align: left;
    padding: 4px 8px;
    margin: 0;
    font-size: 14px;
    a{
      color: $licorice;
    }
  }
  p.project-desc {
    color: $charleston-grey;
    font-size: 13px;
    padding: 8px;
    margin: 0;
    text-align: justify;
    height: 101px;
  }

  img.preview-img {
    position: relative;
    opacity: 0.4;
    z-index: 2;
    top: -202px;
    left: -10px;
    width: 380px;
    height: 210px;
    // width: 370px;
    // height: 200px;
    border-radius: 10px;
    padding: 5px;
  }

  h5, .meter-container, p {
    position: relative;
    z-index: 3;
  }

}


.button {
  border-radius: 4px;
  background-color: $dark-blue;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  height: 60px;
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $baby-powder;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}


h3.project-desc{
  margin: 0px 8em;
  text-align: center;
}


// SHOW VIEW


.project-frame{
  margin: 20px;

  border-radius: 2%;
  padding: 30px 0px;
}

.title-container{
  width: 100%;
  display: flex;
}

.title-owner{
  flex: 0 1 20%;
  height: 50px;
  padding: 0;
  padding-top: 5px;
  display:block;
  margin-top: 20px ;
  margin-left: 50px ;
  margin-right: 20px ;
  div.user{
    padding-top: 3px;
  }
  div.user > span, div.user span>a {
      text-decoration: none;
      font-size: 15px;
      color: $deep-blue;
      font-weight: bold;
      // font-family: 'Sarala', sans-serif;
  }
}

div.title-owner > img {
  height: 50px;
  width: 50px;
}
.title-owner > p{
  float:left;
}

.title-header{
  flex: 0 1 70%;
  margin-right: 60px;
  h1 {
    text-align: left;
    margin: 10px 0px;
    padding-top: 10px ;
    font-size: 45px;
    color: $deep-blue;
  }
  h3 {
    font-size: 15px;
    color: $charleston-grey;
    margin: 0;
    text-align: justify;
  }
}

.project-main {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  height: 400px;
  vertical-align: middle;
  width: 100%;
}

.project-item {
  margin: 0 10px;
  padding: 10px 15px;
}

.project-image{
  flex: 0 3 55%;
  overflow: hidden;
  height: 400px;
  padding: 0;
  box-shadow: 8px 8px 5px #888888;
  width: 100%;
  img {
    opacity: 0.9;
  }
}

.project-data{
  flex: 0 2 45%;
  display: flex;
  flex-direction: row;
  > * {
    list-style: none;
    font-family: 'Open Sans';
  }
}

.project-details{
  width: 100%;
}

.project-buttons{
  width: 100%;
  text-align: right;
  padding: 0 30px;
}

.project-attr{
  list-style: none;
  font-size: 22px;
  color: $success-green;
  font-weight: bold;
}

.project-attr-desc{
  margin-bottom: 20px;
  font-size: 16px;
  &.category-links a {
    text-decoration: none;
    color: $dark-gray;
  }
}

div.btn {
	  border-radius: 4px;
    border: none;
    text-align: center;
    display: block;
    font-size: 20px;
    width: 200px;
    padding: 0px;
    margin-bottom: 40px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $baby-powder;
      line-height: 40px;
      width:100%;
      display: block;
    }
}

.btn[value="Unfollow"]{
  background-color: $light-red;
  color: $baby-powder;
}
.btn[value="Follow"]{
  background-color: $success-green;
}

.btn[value="Save"]{
  background-color: $dark-blue;
}

.btn[value="Edit"]{
  background-color: $gray;
  a{
  color: $baby-powder;
  }
}

.btn[value="Comment"]{
  background-color: #1bbba3;
}

.btn[value="Claim"]{
  background-color: $mustard;
  a{
  color: $charleston-grey;
  }
}


// FILTER

.title-elements{
  display:flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  span.field>select:hover {
    cursor: pointer;
  }
  div.form{
    flex: 0 1 20%;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 30px;
    span {
      font-family: 'Lato';
      font-size: 15px;
      color: $deep-blue;
      font-weight: 400;
    }
    form {
      width: 100%;
      margin: 0;
      padding: 0;
      span select{
        width: 80%;
        //background-color: $mustard;
        opacity: 0.9;
      }
    }
  }
  h1 {
    flex: 0 1 80%;
    text-align: left;
    margin-bottom: 10px;
  }
}
