$mustard: #FFEB3B;
$licorice: #131515;
$charleston-grey: #2b2c28;
$zomp: #339989;
$egg-blue: #7de2d1;
$baby-powder: #fcfcfc;

.flexbox-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; /* works with row or column */
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
}

h1.user-title {
    font-family: 'Sarala', sans-serif;
    font-size: 50px;
    color: $zomp;
		text-align: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
	text-decoration: none;
}

.photo-grid {
  width: 80%;
  display: flex;
  justify-content: flex-start;
	flex-wrap: wrap;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
	background-color: $charleston-grey;
	a {
	  width: 100px;
	  line-height: 40px;
		text-decoration: none;
		color: $baby-powder;
	}
}

div#user-title {
	font-family: 'Sarala', sans-serif;
	font-size: 40px;
	text-decoration: none;
	a:hover{
		color: $zomp	;
	}
}

div.user_data {
	font-family: 'Sarala', sans-serif;
	font-size: 20px;
	text-decoration: none;
}

.img-circle {
    border-radius: 50%;
}

section.stats ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	align-items: center;
	display: inline-block;
	vertical-align: middle;
	li {
		float: left;
		height: 30px;
		text-align: center;
		display: table;
		a {
			color: $charleston-grey;
			text-decoration: none;
			font-size: 17px;
		}
		a:hover{
			color: $zomp	;
		}
	}

	li:first-child {
		padding-right: 15px;
	}
}
