.project-grid-container#most-valuable {
  display: flex;
  justify-content: center;
	text-decoration: none;
  width: 800px;
  margin-top: 20px;
  h1 {
    margin-bottom: 0px;
  }
}

.project-grid.welcome {
  width: 100%;
  display: flex;
	flex-wrap: wrap;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0 30px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;

  h1{
    text-align: center;
  }

}
